.browseContainer{
    display: flex;
    margin: 160px 200px;
    background-color: #27292a;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 50px;
}

@media (max-width: 992px) {
    .browseContainer{
        margin: 0px;
        margin-top: 50%;
    }
}