.zaglavie{
    color: #e75e8d;
}

.border{
    border: 1px;
}

.ps-lg-3{
    padding-top: 50px;
    padding-bottom: 50px;
}

.commentInput{
    margin: 50px 150px;
    background-color: #191b1b;
    border-radius: 12px;
    width: 20rem;
    color: #666;
}

.comments{
    margin-left: 30rem;
    display: flex;
}

.coment{
    margin: 20px;
    padding: 20px;
    width: 30rem;
    background-color: #191b1b;
}

.commentTextArea{
    color: white;
    background-color: transparent;
    border: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    pointer-events: none;
}

.editAndDelete{
    margin-top: 50px;
    display: flex;
}